= form_for @route do |f|
  - if @route.errors.any?
    #error_explanation
      %h2
        = pluralize(@route.errors.count, "error")
        prevent this route from being saved:
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :grade
    = f.text_field :grade
  %p
    = f.label :description
    = f.text_area :description
  %p
    = f.label :date
    %br/
    = f.datetime_select :date, start_year: 2000, order: [:day, :month, :year], discard_hour: true
  %p
    = f.label :crag
    = f.text_field :crag
  %p
    = f.label :area
    = f.text_field :area
  %p
    = f.submit
