<h1>Add new route</h1>

<%= form_for :route, url: routes_path do |f| %>

	<% if @route.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@route.errors.count, "error") %>
				prevent this route from being saved:
			</h2>
			<ul>
				<% @route.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


	<p>
		<%= f.label :route_name %>
		<%= f.text_field :route_name %>
	</p>

	<p>
		<%= f.label :route_grade %>
		<%= f.text_field :route_grade %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :date %><br>
		<%= f.datetime_select :date, start_year: 2000, order: [:day, :month, :year], discard_hour: true %>
	</p>

	<p>
	<%= f.fields_for :crag_attributes do |crag_form| %>
		<%= crag_form.label :crag_name %><br>
		<%= crag_form.text_field :crag_name %>
	<% end %>
	</p>


	<p>
	<%= f.fields_for :area_attributes do |area_form| %>
		<%= area_form.label :area_name %><br>
		<%= area_form.text_field :area_name %>
	<% end %>
	</p>

	<p>
	<%= f.fields_for :country_attributes do |country_form| %>
		<%= country_form.label :country_name %><br>
		<%= country_form.text_field :country_name %>
	<% end %>
	</p>
	
	<p>
	<%= f.submit %>
	</p>

<% end %>
