%p
  %strong Route name:
  = @route.name
%p
  %strong Route grade:
  = @route.grade
%p
  %strong Date climbed the route:
  = @route.date.to_s :custom_datetime
%p
  %strong Route description:
  = @route.description
%p
  %strong Crag:
  = @route.crag
%p
  %strong Area:
  = @route.area
%p
  %strong Country:
  = @country.name
%p
  = link_to 'Back', routes_path
