%p
  = flash[:notice]
%p
  %strong Route name:
  = @route.route_name
%p
  %strong Route grade:
  = @route.route_grade
%p
  %strong Date climbed the route:
  = @route.date.to_s :custom_datetime
%p
  %strong Route description:
  = @route.description
%p
  %strong Crag:
  = @route.crag.crag_name
%p
  %strong Area:
  = @route.area.area_name
%p
  %strong Country:
  = @route.country.country_name
= link_to 'Back', routes_path
|
= link_to 'Edit', edit_route_path(@route)
